main {

  background-image: url('src\assets\Images\bg_1.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
  }

  .mat-typography .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
   
  }
  
  .mat-typography .example-full-width {
    width: 100%;
   
  }
  .gender-container {
    display: flex;
    justify-content: space-between; /* Align items horizontally with space between */
  }

  .form-label{color: black;  font-size: larger; margin-left: 10px; }
  .text-danger{ margin: 20px;}
  .form-control
  {
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(250, 208, 68);
    width: 100%;
  }
  #Gender{    
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(250, 208, 68);
    width: 150px;
    height: 40px;
    margin-top: 20px;
  }




