<body>
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row registration-card ">

            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <a class="navbar-brand">GiveHope</a>
              <div class="gender-image-container text-center mb-3">
                <img [src]="genderImages[CreateAccountForm.value.Gender || 'male']" alt="Gender Image" width="190px" height="180px">
              </div>
           
              <div class=" pb-2">
                <h1 class="card-title text-center pb-0 fs-4">Create an Account</h1>
                <h5 class="text-center small">Enter your personal details to create an account</h5>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="mat-typography">
                <form [formGroup]="CreateAccountForm" class="example-form">
               
                  <div class="row  mb-2">
                    <div class="col-md-6">
                      <div class="example-full-width">
                        <label for="FirstName">First Name</label>
                        <input type="text" id="FirstName" name="FirstName" formControlName="FirstName" class="form-control rounded-3 is-invalid" [class.valid-border]="CreateAccountForm.controls['FirstName'].valid" [class.is-invalid]="(isFormSubmitted||fnChanged)&& CreateAccountForm.controls['FirstName'].invalid" (input)="fnChanged=true" placeholder="First Name">
                       <span *ngIf="(isFormSubmitted||fnChanged)&& CreateAccountForm.controls['FirstName'].hasError('required')" class="text-danger">First Name is required</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="example-full-width">
                        <label for="LastName">Last Name</label>
                        <input type="text" id="LastName" name="LastName" formControlName="LastName" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['LastName'].valid" [class.invalid-border]="(isFormSubmitted||lnChanged)&&CreateAccountForm.controls['LastName'].invalid" (input)="lnChanged=true" placeholder="Last Name">
                       <span *ngIf="(isFormSubmitted||lnChanged) && CreateAccountForm.controls['LastName'].hasError('required')" class="text-danger">Last Name is required</span>
                      </div>
                    </div>
                  </div>
              
                  <div class="row  mb-2">
                    <div class="col-md-6">
                      <div class="example-full-width">
                        <label for="DateOfBirth">Date Of Birth</label>
                        <input type="date" id="DateOfBirth" name="DateOfBirth" formControlName="DateOfBirth" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['DateOfBirth'].valid" [class.invalid-border]="(isFormSubmitted||dobChanged)&&CreateAccountForm.controls['DateOfBirth'].invalid" (input)="dobChanged=true" placeholder="Date Of Birth">
                       <span *ngIf="(isFormSubmitted||dobChanged) && CreateAccountForm.controls['DateOfBirth'].hasError('required')" class="text-danger">Date Of Birth is required</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="gender-container">
                        <div class="example-full-width">
                          <label for="Gender">Gender</label>
                          <select id="Gender" name="Gender" formControlName="Gender" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['Gender'].valid" [class.invalid-border]="(isFormSubmitted||genChanged)&&CreateAccountForm.controls['Gender'].invalid" (input)="genChanged=true" placeholder="Gender">
                            <option *ngFor="let Gender of Genders" [value]="Gender.value">{{ Gender.viewValue }}</option>
                          </select>
                         <span *ngIf="(isFormSubmitted||genChanged) && CreateAccountForm.controls['Gender'].hasError('required')" class="text-danger">Gender is required</span>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="row  mb-2">
                    <div class="col-md-6">
                      <div class="example-full-width">
                        <label for="Address">Address</label>
                        <input type="text" id="Address" name="Address" formControlName="Address" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['Address'].valid" [class.invalid-border]="(isFormSubmitted||adChanged)&&CreateAccountForm.controls['Address'].invalid" (input)="adChanged=true" placeholder="Address">
                       <span *ngIf="(isFormSubmitted||adChanged) && CreateAccountForm.controls['Address'].hasError('required')" class="text-danger">Address is required</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="example-full-width">
                        <label for="Phone">Phone Number</label>
                        <input type="text" id="Phone" name="Phone" formControlName="Phone" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['Phone'].valid" [class.invalid-border]="(isFormSubmitted||phoneChanged)&&CreateAccountForm.controls['Phone'].invalid" (input)="phoneChanged=true" placeholder="Phone Number">
                       <span *ngIf="(isFormSubmitted||phoneChanged) && CreateAccountForm.controls['Phone'].hasError('required')" class="text-danger">Phone Number is required</span>
                      </div>
                    </div>
                  </div>
                 
                  <div>
                    <div class="mb-2 example-full-width">
                      <label for="UserName">User Name</label>
                      <input type="text" id="UserName" name="UserName" formControlName="UserName" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['UserName'].valid" [class.invalid-border]="CreateAccountForm.controls['UserName'].invalid" placeholder="User Name">
                     <span *ngIf="(isFormSubmitted||unChanged) && CreateAccountForm.controls['UserName'].hasError('required')" class="error">User Name is required</span>
                     <span *ngIf="CreateAccountForm.controls['UserName'].hasError('userNameExist')" class="text-danger" >This User Name is already exist</span>

                    </div>
                    <div class="mb-2 example-full-width">
                      <label for="Password">Password</label>
                      <input type="password" id="Password" name="Password" formControlName="Password" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['Password'].valid" [class.invalid-border]="(isFormSubmitted||passChanged)&&CreateAccountForm.controls['Password'].invalid" (input)="passChanged=true" placeholder="Password">
                     <span *ngIf="(isFormSubmitted||passChanged) && CreateAccountForm.controls['Password'].hasError('required')" class="text-danger">Password is required</span>
                     <span class="text-danger" *ngIf="CreateAccountForm.controls['Password'].hasError('minlength')">Please Enter a Strong password</span>
                    
                    </div>
                    <div class="mb-2 example-full-width">
                      <label for="Email">Email</label>
                      <input type="email" id="Email" name="Email" formControlName="Email" class="form-control rounded-3 valid-border invalid-border" [class.valid-border]="CreateAccountForm.controls['Email'].valid" [class.invalid-border]="(isFormSubmitted||emailChanged)&&CreateAccountForm.controls['Email'].invalid" (input)="emailChanged=true" placeholder="Email">
                     <span *ngIf="(isFormSubmitted||emailChanged) && CreateAccountForm.controls['Email'].hasError('required')" class="text-danger">Email is required</span>
                     <span class="text-danger" *ngIf="CreateAccountForm.controls['Email'].hasError('email')">Please enter a valid email address</span>
                      <span *ngIf="CreateAccountForm.controls['Email'].hasError('emailExist')" class="text-danger" >This email is already exist</span>
                    </div>
                  </div>
                  <div align="end"><br>
                    <button class="btn btn-primary w-100" style="color: white;" type="submit" [disabled]="!CreateAccountForm.valid" (click)="CreateAccountBtn()">Create Account</button>
                  </div>
                </form>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>
