main {
  /*background-image: url('src/assets/assetsTwo/images/bg_1.jpg'); */
  background-color: rgb(248, 247, 239);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

.mat-typography .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
 
}

.mat-typography .example-full-width {
  width: 100%;
 
}
.gender-container {
  display: flex;
  justify-content: space-between; 
}
.registration-card {
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px orange;
}


.valid-border {
  border-color: #28a745; 
  }
  
  
  .invalid-border {
  border-color: #dc3545; 
  }
  .back-arrow {
    font-size: xx-large;
  }


