
<body>
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row registration-card ">

            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <a class="navbar-brand">GiveHope</a>
              <div class="gender-image-container text-center mb-3">
                <img [src]="genderImages[CreateAccountForm.value.Gender || 'male']" alt="Gender Image" width="190px" height="180px">
              </div>
              <div class="pt-4 pb-2">
                <h1 class="card-title text-center pb-0 fs-4">Create an Account</h1>
                <h5 class="text-center small">Enter your personal details to create an account</h5>
              </div>
            </div>


            <div class="col-lg-6 col-md-6">
              <mat-dialog-content class="mat-typography">
                <form [formGroup]="CreateAccountForm" class="example-form">
               
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="FirstName">
                        <mat-error *ngIf="CreateAccountForm.controls['FirstName'].hasError('required')">
                          First Name is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput formControlName="LastName">
                        <mat-error *ngIf="CreateAccountForm.controls['LastName'].hasError('required')">
                          Last Name is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
              
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Date Of Birth</mat-label>
                        <input type="date" matInput formControlName="DateOfBirth">
                        <mat-error *ngIf="CreateAccountForm.controls['DateOfBirth'].hasError('required')">
                          Date Of Birth is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <div class="gender-container">
                        <mat-form-field class="example-full-width">
                          <mat-label>Gender</mat-label>
                          <mat-select formControlName="Gender">
                            <mat-option *ngFor="let Gender of Genders" [value]="Gender.value">
                              {{ Gender.viewValue }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Address</mat-label>
                        <input type="text" matInput formControlName="Address">
                        <mat-error *ngIf="CreateAccountForm.controls['Address'].hasError('required')">
                          Address is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Phone Number</mat-label>
                        <input type="text" matInput formControlName="Phone">
                        <mat-error *ngIf="CreateAccountForm.controls['Phone'].hasError('required')">
                          Phone Number is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                 
                  <div>
                    <mat-form-field class="example-full-width">
                      <mat-label>User Name</mat-label>
                      <input type="text" matInput formControlName="UserName">
                      <mat-error *ngIf="CreateAccountForm.controls['UserName'].hasError('required')">
                        User Name is required
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Password</mat-label>
                      <input type="password" matInput formControlName="Password">
                      <mat-error *ngIf="CreateAccountForm.controls['Password'].hasError('required')">
                        Password is required
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput formControlName="Email">
                      <mat-error *ngIf="CreateAccountForm.controls['Email'].hasError('required')">
                        Email is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <mat-dialog-actions align="end"><br>
                    <button class="btn btn-primary w-100" style="color: white;" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="CreateAccountBtn()">Create Account</button>
                  </mat-dialog-actions>
                </form>
              </mat-dialog-content>
              <hr>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

