.testimonial-comtent{  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
    padding-bottom: 20px;
  }