<app-navbar></app-navbar>

<div class="block-31" style="position: relative;">
  <div class="owl-carousel loop-block-31 ">
    <div class="block-30 block-30-sm item" style="background-image: url('../../assets/Images/{{home.testObj.imagePath}}');" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="heading">{{home.testObj.title}}</h2>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="site-section bg-light">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h1>{{home.testObj.text}}</h1>
        </div>
      </div>
      <div class="container-fluid">
        <!-- <div class="row"> -->
    
          <div class="col-md-12 block-11">
            <owl-carousel-o [options]="testOption" class="testimonial-carousel">
              <ng-template carouselSlide *ngFor="let obj of home.userTestObj">
                <div class="card">
                  <div class="content">
                    <div class="d-flex">
                      <div class="img-card">
                        <img src="../../assets/Images/{{obj.user.imagePath}}" alt="" style="border-radius: 50%; height: 150px; width: 150px;">
                      </div>
    
                      
                      <div class="ml-4">
                        <div class="stars mt-2">
                          <ng-container *ngFor="let s of [].constructor(5); let i = index">
                            <i class="bi bi-star-fill" *ngIf="i < obj.rate"></i>
                            <i class="bi bi-star" *ngIf="i >= obj.rate"></i>
                          </ng-container>
                        </div>
                        <div class="testimonial-content">
                          {{obj.content}}
                        </div>
                        
                        <div class="name mt-2">
                          {{obj.user.firstName}} {{obj.user.lastName}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </ng-template>
            </owl-carousel-o>
           
          </div>
        <!-- </div> -->
      </div>
      
      
      
      
    
    </div>
  </div>
<app-footer></app-footer>