<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <!--<img src="../../../assets/AdminAssets/img/logo.png" alt="">-->
      <span class="d-none d-lg-block">GIVEHOPE</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSideBar()"></i>
  </div>
  <!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      

      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
          <img
            src="../../../assets/Images/{{ user.imagePath }}"
            alt="Profile"
            class="rounded-circle"
          />
          <span class="d-none d-md-block dropdown-toggle ps-2">{{
            user.userName
          }}</span> </a
        ><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ user.firstName }} {{ user.lastName }}</h6>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/user/profile"
            >
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              role="button"
              (click)="logout()"
            >
              <i class="bi bi-box-arrow-right"></i>
              <span>Log Out</span>
            </a>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
 
    


    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLinkActive [routerLinkActiveOptions]="{exact:true}" #ach="routerLinkActive" [class.collapsed]="!ach.isActive"
        routerLink="/user"
      >
        <i class="bi bi-menu-button-wide"></i><span>Chareties</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLinkActive [routerLinkActiveOptions]="{exact:true}" #mch="routerLinkActive" [class.collapsed]="!mch.isActive"
        routerLink="/user/MyCharities"
      >
        <i class="bi bi-menu-button-wide"></i><span>My Chareties</span>
      </a>
    </li>
    <li>
      <a
        class="nav-link collapsed"
        routerLinkActive [routerLinkActiveOptions]="{exact:true}" #mw="routerLinkActive" [class.collapsed]="!mw.isActive"
        routerLink="/user/managewallet"
      >
      <i class="bi bi-credit-card-2-front-fill"></i><span> My VisaCard</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Contact-nav"
        data-bs-toggle="collapse"
        href="#"
        [class.collapsed]="!mt.isActive&&!iss.isActive"
      >
        <i class="bi bi-envelope"></i><span>Contact</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Contact-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
        [class.show]="mt.isActive||iss.isActive"
      >
        <li>
          <a routerLink="/user/managetestimonial" routerLinkActive [routerLinkActiveOptions]="{exact:true}" #mt="routerLinkActive" [class.active]="mt.isActive">
            <i class="bi bi-circle"></i><span> My Testimonial </span>
          </a>
        </li>
        <li>
          <a routerLink="/user/issue" routerLinkActive [routerLinkActiveOptions]="{exact:true}" #iss="routerLinkActive" [class.active]="iss.isActive">
            <i class="bi bi-circle"></i><span>Report an Issue</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Contact Nav -->
    <!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/user/profile" routerLinkActive [routerLinkActiveOptions]="{exact:true}" #pr="routerLinkActive" [class.collapsed]="!pr.isActive">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
<button class="chat-btn" mat-fab extended (click)="chat.toggleChatContainer()">
  <mat-icon>forum</mat-icon>
  Lets Chat
</button>
<div class="chat-container shadow" *ngIf="chat.togglechat">
  <div class="card card-bordered">
    <div class="card-header">
      <h4 class="card-title"><strong>Chat</strong></h4>
    </div>

    <div *ngIf="chat.showChat">
      <div
        class="ps-container ps-theme-default ps-active-y"
        id="chat-content"
        style="overflow-y: scroll !important; height: 400px !important"
      >
        <div class="media media-chat" *ngFor="let message of chat.groupMessages" [class.media-chat-reverse]="message.id!=2">
          <div class="user">
            <p class="name">{{message.name}}</p>

            <img
              class="avatar"
              src="https://img.icons8.com/color/36/000000/administrator-male.png"
              alt="..."
            />
          </div>
          <div class="media-body">
            <p>{{message.content}}</p>
          </div>
        </div>

        <!-- <div class="media media-chat media-chat-reverse">
          <div class="user">
            <p class="name">Mohannad</p>

            <img
              class="avatar"
              src="https://img.icons8.com/color/36/000000/administrator-male.png"
              alt="..."
            />
          </div>
          <div class="media-body">
            <p>
              Okay then see you on
              sundaywdawdwadawdwadawdawdwadwadwadwawadwadawdwadwadwadwadawdwadwadwadwadawdwadawd!!
            </p>
          </div>
        </div> -->

        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
          <div
            class="ps-scrollbar-x"
            tabindex="0"
            style="left: 0px; width: 0px"
          ></div>
        </div>
        <div
          class="ps-scrollbar-y-rail"
          style="top: 0px; height: 0px; right: 2px"
        >
          <div
            class="ps-scrollbar-y"
            tabindex="0"
            style="top: 0px; height: 2px"
          ></div>
        </div>
      </div>

      <div class="publisher bt-1 border-light">
       
        <input
          class="publisher-input"
          type="text"
          placeholder="Write something"
          [formControl]="message"
        />

        <a class="publisher-btn text-info" (click)="sendMessage()" data-abc="true"
          ><i class="fa fa-paper-plane"></i
        ></a>
      </div>
    </div>
    <div class="chat-form" *ngIf="chat.showForm">
      <form class="row g-3" [formGroup]="chatForm">
        <div class="col-12">
          <label for="inputPassword4" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputPassword4" formControlName="name">
        </div>
        <div class="col-12">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" formControlName="email">
        </div>
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!chatForm.valid">Start</button>
        </div>
      </form>
    </div>
  </div>
</div>
