<app-admin-sidebar></app-admin-sidebar>

<main id="main" class="main">

    

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-12">
          <div class="row">

            <!-- charites Card -->
            <div class="col-lg-3 col-sm-6">
              <div class="card info-card sales-card">

               

                <div class="card-body">
                  <p class="card-title">Charities</p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-flag"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{dashboard.charities.length}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End charites Card -->

            <!-- payment Card -->
            <div class="col-lg-3 col-sm-6">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <p class="card-title">Revenue</p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{getTotalPayments()|currency:'USD':true:'1.0-0'}}</h6>
          

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End payment Card -->

            <!-- users Card -->
            <div class="col-lg-3 col-sm-6">

              <div class="card info-card customers-card">

                

                <div class="card-body">
                  <p class="card-title">Users </p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{totalUsers()}}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End users Card -->
            <!-- donation Card -->
            <div class="col-lg-3 col-sm-6">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <p class="card-title">Donation</p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-stack"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{getTotalDonation()|currency:'USD':true:'1.0-0'}}</h6>
          

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End donation Card -->
             <!-- categories Card -->
             <div class="col-lg-3 col-sm-6">
              <div class="card info-card sales-card">

               

                <div class="card-body">
                  <p class="card-title">Categories</p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bounding-box"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{dashboard.categories.length}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End categories Card -->
            <!-- issues Card -->
            <div class="col-lg-3 col-sm-6">

              <div class="card info-card customers-card">

                

                <div class="card-body">
                  <p class="card-title">Issues Report </p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-question-lg"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{dashboard.issues.length}}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End issues Card -->

            <!-- messages Card -->
            <div class="col-lg-3 col-sm-6">
              <div class="card info-card sales-card">

               

                <div class="card-body">
                  <p class="card-title">Mail</p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-mailbox"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{dashboard.messages.length}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End messages Card -->

             <!-- testimonial Card -->
             <div class="col-lg-3 col-sm-6">

              <div class="card info-card customers-card">

                

                <div class="card-body">
                  <p class="card-title">Testimonial </p>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-star-half"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{dashboard.testimonials.length}}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End testimonial Card -->
            <!-- Reports -->
            <div class="col">
              <div class="card p-3 apex-c">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    

                    <li><a class="dropdown-item" (click)="updateDayData()">Today</a></li>
                    <li><a class="dropdown-item" (click)="updateMonthData()">This Month</a></li>
                    <li><a class="dropdown-item" (click)="updateYearData()">This Year</a></li>
                  </ul>
                </div>
                

                <apx-chart #statisticsChart id="statisticsChart"
                [series]="chartOptions!.series!"
        [chart]="chartOptions!.chart!"
        [xaxis]="chartOptions!.xaxis!"
        [stroke]="chartOptions!.stroke!"
        [tooltip]="chartOptions!.tooltip!"
        [dataLabels]="chartOptions!.dataLabels!"
        [title]="chartOptions!.title!"
                >
    
                </apx-chart>
              </div>
            </div>
           

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                

                <div class="card-body">
                  <p class="card-title">Recent Charities</p>

                  <table datatable [dtOptions]="dashboard.dtOptions" [dtTrigger]="dashboard.dtTrigger" class="table table-borderless"></table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
           

          </div>
        </div><!-- End Left side columns -->


      </div>
    </section>

  </main><!-- End #main -->

