<app-admin-sidebar></app-admin-sidebar>

<main id="main" class="main">

<div class="row mt-5">
  <!-- Home -->
  <div class="card col-4 border " style="width: 18rem;">
    <h5 class="card-title">  Home <span>| Update</span></h5>
    <div class="border mb-3">
    <div style="height:180px">
    <img src="../../../assets/Images/{{page.homeObj.imagePath}}" class="card-img-top" alt="...">
  </div>
    <div class="card-body  ">
      <div style="height: 112px;">
      <p class="card-text mt-2 "><strong>Titel: </strong>{{page.homeObj.title}}</p>
      <p class="card-text"><strong>Text: </strong>{{page.homeObj.text}}</p>
      </div>

<div class="ratio">
      <button mat-raised-button class=" ml-1 "  style="background-color: #f7ca44;color: white;" (click)="openUpdatehomeDialog(page.homeObj)">Update</button>
    </div>
  </div>
  </div>
</div>
  <!-- About US -->
  <div class="card col-4 ml-2 border" style="width: 18rem;">
    <h5 class="card-title">  About Us Page <span>| Update</span></h5>
    <div class="border mb-3">
      <div style="height:180px">
    <img src="../../../assets/Images/{{page.aboutObj.imagePath}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body ">
      <div style="height: 112px;">
      <p class="card-text mt-2 "><strong>Titel:</strong>{{page.aboutObj.title}}</p>
      <p class="card-text"><strong>Text:</strong>{{page.aboutObj.text}}</p>
    </div>
      <div class="ratio">
      <button mat-raised-button class=" ml-1 "  style="background-color: #f7ca44;color: white;" (click)="openUpdateaboutDialog(page.aboutObj)">Update</button>
</div>
</div>
    </div>
  </div>

  <!-- tesimonial -->
  <div class="card col-4 ml-2 border" style="width: 18rem;position: relative;">
    <h5 class="card-title"> Testimonial <span>| Update</span></h5>
    <div class="border mb-3">
      <div style="height:180px">

    <img src="../../../assets/Images/{{page.testimonialObj.imagePath}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <div style="height: 112px;">
      <p class="card-text mt-2"><strong>Title:</strong>{{page.testimonialObj.title}}</p>
      <p class="card-text"><strong>Text:</strong>{{page.testimonialObj.text}}</p>
    </div>
      <div class="ratio">
      <button mat-raised-button class=" ml-1 "  style="background-color: #f7ca44;color: white;" (click)="openUpdatetestimonialDialog(page.testimonialObj)">Update</button>
    </div>
    </div>
    </div>
  </div>


<!-- contact -->
<div class="card  col-4 ml-2 border" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">  Contact Info <span>| Update</span></h5>
  <ul class="list-group list-group-flush" style="height:180px">
    <li class="list-group-item border height"><i class="bi bi-telephone mr-3"></i>{{page.contactObj.phone}}</li>
    <li class="list-group-item border height"><i class="bi bi-chat-right-text mr-3"></i>{{page.contactObj.emailAddress}}</li>
    <li class="list-group-item border height"><i class="bi bi-clock mr-3"></i>{{page.contactObj.openHours}}</li>
    <li class="list-group-item border height"><i class="bi bi-geo-alt mr-3"></i>{{page.contactObj.address}}</li>
  </ul>
  <div style="height: 112px;">
  <p class="card-text mt-2"><strong>Title: </strong>{{page.contactObj.title}}</p>
</div>
  <div class="ratio">
    <button mat-raised-button class=" ml-1 "  style="background-color: #f7ca44;color: white;"(click)="openUpdatecontactDialog(page.contactObj)">Update</button>
  </div>
</div>
</div>
</div>

</main>
<!-- home dialog -->

  <ng-template #callUpdatehomeDialog>
    <h1 mat-dialog-title>Update Home page</h1>
    <form class="mx-1 mx-md-4 p-2" [formGroup]="updateHomePageForm">
  <div class="card p-4">
        <div class="form-group">
          <label for="title" class="matLabel">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title" [(ngModel)]="previous_data.title">
        </div>
        <div class="form-group">
          <label for="Text" class="matLabel">Text</label>
        <input type="text" class="form-control" id="text" formControlName="text" [(ngModel)]="previous_data.text">
        </div>
        <div class="form-group">
          <label for="imagePath" class="matLabel">Image</label>
        <input type="file" #file class="form-control" id="imagePath" formControlName="imagePath" (change)="UploadaboutImage(file.files) ">
        </div>
      </div>
    </form>
    <div mat-dialog-actions align="end">
      <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close="Update" [disabled]="updateHomePageForm.invalid">Update</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
    </div>
  </ng-template>

  <!-- about page dialog -->

<ng-template #callUpdateaboutDialog>
  <h1 mat-dialog-title>Update AboutUs Page</h1>
  <form class="mx-1 mx-md-4 p-2" [formGroup]="updateaboutPageForm">
<div class="card p-4">
      <div class="form-group">
        <label for="title" class="matLabel">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" [(ngModel)]="previous_data.title">
      </div>
      <div class="form-group">
        <label for="Text" class="matLabel">Text</label>
      <input type="text" class="form-control" id="text" formControlName="text" [(ngModel)]="previous_data.text">
      </div>
      <div class="form-group">
        <label for="imagePath" class="matLabel">Image</label>
      <input type="file" #file class="form-control" id="imagePath" formControlName="imagePath" (change)="UploadaboutImage(file.files) ">
      </div>
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="Update" [disabled]="updateaboutPageForm.invalid">Update</button>
      <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
  </div>
</ng-template>

  <!-- contact page dialog -->

  <ng-template #callUpdatecontactDialog>
    <h1 mat-dialog-title>Update Contact Information Page</h1>
    <form class="mx-1 mx-md-4 p-2" [formGroup]="updatecontactPageForm">
  <div class="card p-4">
    <div class="row">
        <div class="form-group col-6">
          <label for="title" class="matLabel">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title" [(ngModel)]="previous_data.title">
        </div>
        <div class="form-group col-6">
          <label for="emailAddress" class="matLabel">Email Address</label>
        <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress" [(ngModel)]="previous_data.emailAddress">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="phone" class="matLabel">Phone Number</label>
        <input type="text" class="form-control" id="phone" formControlName="phone" [(ngModel)]="previous_data.phone">
        </div>
        <div class="form-group col-6">
          <label for="address" class="matLabel">Address</label>
        <input type="text" class="form-control" id="address" formControlName="address" [(ngModel)]="previous_data.address">
        </div>
      </div>
         <div class="form-group col-6">
          <label for="openHours" class="matLabel">Open Hours</label>
        <input type="text" class="form-control" id="openHours" formControlName="openHours" [(ngModel)]="previous_data.openHours">
        </div>
      </div>
    </form>
    <div mat-dialog-actions align="end">
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="Update" [disabled]="updatecontactPageForm.invalid">Update</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
    </div>
  </ng-template>

    <!-- Testimonial page dialog -->

<ng-template #callUpdateTestimonialDialog>
  <h1 mat-dialog-title>Update Testimonial page</h1>
  <form class="mx-1 mx-md-4 p-2" [formGroup]="updatetestimonailPageForm">
<div class="card p-4">
      <div class="form-group">
        <label for="title" class="matLabel">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" [(ngModel)]="previous_data.title">
      </div>
      <div class="form-group">
        <label for="Text" class="matLabel">Text</label>
      <input type="text" class="form-control" id="text" formControlName="text" [(ngModel)]="previous_data.text">
      </div>
      <div class="form-group">
        <label for="imagePath" class="matLabel">Image</label>
      <input type="file" #file class="form-control" id="imagePath" formControlName="imagePath" (change)="UploadaboutImage(file.files) ">
      </div>
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="Update" [disabled]="updatetestimonailPageForm.invalid">Update</button>
      <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
  </div>
</ng-template>

