<footer class="footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-4">
          <h3 class="heading-section">About Us</h3>
          <p class="lead">{{home.aboutObj.text}} </p>
          
        </div>
        <div class="col-md-6 col-lg-4">
          <h3 class="heading-section">Recent Charities</h3>
          <div class="block-21 d-flex mb-4" *ngFor="let obj of home.charityRecentObj">
            <figure class="mr-3">

              <img src="../../assets/Images/{{obj.imagePath}}" alt="" class="img-fluid">

            </figure>
            <div class="text">
              <h3 class="heading"><a href="#">{{obj.charityName}}</a></h3>
              
            </div>
          </div>

          
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="block-23">
            <h3 class="heading-section">Get Connected</h3>
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">{{home.contactObj.address}}</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{home.contactObj.phone}}</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{home.contactObj.emailAddress}}</span></a></li>
              </ul>
            </div>
        </div>
        
        
      </div>
      <div class="row pt-5">
        <div class="col-md-12 text-center">
          
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="ion-ios-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Power Rangers</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          
        </div>
      </div>
    </div>
  </footer>
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
